# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
src/generated/resources/.cache
src/test

# other
eclipse
run

# Files from Forge MDK
README.txt
LICENSE.txt
CREDITS.txt
changelog.txt