# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.factorypath

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
src/generated
src/test

# other
eclipse
run

# Files from Forge MDK
README.txt
LICENSE.txt
CREDITS.txt
changelog.txt
/.apt_generated/
/.apt_generated_tests/
/build/
/Users/
