# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
/src/generated/resources/.cache
/src/test

# other
eclipse
run

#FG5 Mixin Hack
!build/createMcpToSrg/output.tsrg

# Files from Forge MDK
README.txt
LICENSE.txt
CREDITS.txt
changelog.txt
/.apt_generated/
/.apt_generated_tests/
