#Blocks.never
public net.minecraft.world.level.block.Blocks m_50805_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z
#Features.weightedBlockStateBuilder
public net.minecraft.data.worldgen.Features m_176955_()Lnet/minecraft/util/random/SimpleWeightedRandomList$Builder;
#SpreadingSnowyDirtBlock.canBeGrass
public net.minecraft.world.level.block.SpreadingSnowyDirtBlock m_56823_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/core/BlockPos;)Z
#HoeItem.TILLABLES
public net.minecraft.world.item.HoeItem f_41332_
#FenceBlock.isSameFence
public net.minecraft.world.level.block.FenceBlock m_153254_(Lnet/minecraft/world/level/block/state/BlockState;)Z
#VegetationFeatures.grassPatch
public net.minecraft.data.worldgen.features.VegetationFeatures m_195202_(Lnet/minecraft/world/level/levelgen/feature/stateproviders/BlockStateProvider;I)Lnet/minecraft/world/level/levelgen/feature/configurations/RandomPatchConfiguration;
#AnvilMenu.onTake
public net.minecraft.world.inventory.AnvilMenu m_142365_(Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/item/ItemStack;)V
#AnvilMenu.cost
public net.minecraft.world.inventory.AnvilMenu f_39002_
#MappedRegistry.intrusiveHolderCache
public net.minecraft.core.MappedRegistry f_205847_